birthsanddeaths_filename bnd.log
copy_prob 50
crossover_percent 33
data_file data.in
generations_file gen.log
max_population 15000
mutate_prob 1
name Remainder
num_generations 300
reload false
rescore 0
root_dir /home/worik/tmp/wGP/gp
save_file saved
seed 113120
training_percent 10
score_weight 1.0
size_weight 1.0